@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    margin:0;
    padding: 0;
    background-color: black;

}
header {
    display: flex;
    width: 1440px;
    height: 70px;
    background-color: #FFFFFF;
}
.logo_box {
    height: 40px;
    width: 105px;
    margin-left: 140px;
    margin-top: 15px;
}
.logo {
    height: 40px;
    width: 40px;
}
.logo_text {
    margin: 12px 0px 12px 5px;
    height:12.95px ;
    width: 53.19px;
    
}
.first_ul{
    display: flex;
    list-style-type: none;
    width: 446px;
    height: 21px;
    margin-left: 351px;
    margin-top: 26px;
    margin-right: 0;

}
.li {
    color: rgba(31, 32, 65, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17.07px;
}
.li:not(:last-child) {
    padding-right:15px;
}
main {
    background-image: url("img/bg_ld.jpg");
    background-size: cover;
    height: 830px;
    width: 1440px;
}
.material-symbols-outlined {
    align-self: center;
    margin-left: -10px;
    margin-right: 10px;
    color:#1F204180 ;
}
.button {
    width: 87px;
    height: 34px;
    margin-top: 18px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid ;
    border-color: rgb(139,164,249);
    border-color: linear-gradient(0deg, rgba(139,164,249,1) 0%, rgba(188,156,255,1) 100%);
    color:rgb(139,164,249);
    color:linear-gradient(0deg, rgba(139,164,249,1) 0%, rgba(188,156,255,1) 100%);
    margin-right: 20px;
}
.second_button {
    width: 196px;
    height: 34px;
    margin-top: 18px;
    background-color:rgb(139,164,249);
    background-color:linear-gradient(0deg, rgba(139,164,249,1) 0%, rgba(188,156,255,1) 100%);
    border-radius: 20px;
    border: 2px solid ;
    border-color: rgb(139,164,249);
    border-color: linear-gradient(0deg, rgba(139,164,249,1) 0%, rgba(188,156,255,1) 100%);
    color: white;
}
footer {
    background-color: #FFFFFF;
    height: 443px;
    width: 1440px;
}
.data {
    display:flex;
    padding-top: 100px;
    padding-left: 100px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.75);
}
.first_box {
    width: 260px;
    height: 132px;
}
.second_logo_box {
    height: 40px;
    width: 105px;
}
.footer_nav {
    height:168px;
    width: 143px;
}
.nav {
    list-style-type: none;
    color: rgba(31, 32, 65, 0.5);
    padding: 0;
    margin: 0;
    line-height: 17px;
}
.nav li {
    margin-top: 20px;
}
.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 1);
}
.second_footer_nav {
    height:168px;
    width: 108px;
}
.third_footer_nav {
    height:130px;
    width: 149px;
}
.mail {
    width: 260px;
    height: 100%;

}
.mail_button {
    width: 260px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.1);
    background-color: #FFFFFF;
    color:#1F204180;
}
::-webkit-input-placeholder {
    padding-left: 15px;
    color:rgba(31, 32, 65, 0.25);
}  
:-moz-placeholder { 
    padding-left: 15px;
    color:rgba(31, 32, 65, 0.25);
} 
::-moz-placeholder {  
    padding-left: 15px;
    color:rgba(31, 32, 65, 0.25);
} 
:-ms-input-placeholder {  
    padding-left: 15px;
    color:rgba(31, 32, 65, 0.25);
}
.data div {
    margin-right: 50px;
}
.sub_footer {
    display: flex;
    box-shadow: 0px -1px 0px 0px rgba(31, 32, 65, 0.1);
    height: 70px;
    margin-top: 100px;
}
.sub_footer p {
    margin-left: 139px;
    align-self: center;
}
.sub_footer svg {
    margin-left: 20px;
    align-self: center;
}
.sub_footer div {
    display: flex;
    margin-left: 700px;
}
.box_card {
    height: 374px;
    width: 380px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-left: 120px;
    margin-top: 100px;
    position: absolute;
}
.box_card p {
    margin: 0;
    padding: 0;
}
form{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.btn {
    border:none;
    background: #FFFFFF;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    position: absolute; 
    right: 0;
    top:0;
    margin: 8px 15px;
    width: 10px;
}
.btn .material-symbols-outlined {
    color:rgb(139,164,249);
    color:linear-gradient(0deg, rgba(139,164,249,1) 0%, rgba(188,156,255,1) 100%);
}